__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg

.env
.venv/
venv/
env/

.idea/
.vscode/
*.swp
*.swo

.pytest_cache/
.coverage
htmlcov/

data/
docker/iowarp/*.log
memcached-extstore/
iowarp-storage/
*.txt
